<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>

<body>
  {{> header}} {{!-- welcomeMessage adalah variable yang dihantar --}} {{!-- and it is also a parameter for screamIt helper
  --}}
  <p>{{screamIt welcomeMessage}}</p>

  {{> footer}}
</body>

</html>